.body{
  text-decoration: none;
}
.button-33 {
  background-color: #c2fbd7;
  border-radius:100px;
  box-shadow: rgba(96, 77, 170, 0.2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: rgb(34, 145, 225);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(137, 101, 128, 0.35) 0 -25px 18px -14px inset,rgba(198, 119, 176, 0.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
  color: rgb(140, 147, 189);
  

}
.bg{
  display: flex;
  justify-content:space-around;

  
  background-color: rgb(184, 211, 233);
}
.bug{
  display: flex;
  justify-content:space-around;
  
  
  
  background-color: rgb(184, 211, 233);
}
.fa {
  padding: 20px;
text-align: center;
  margin: 5px 2px;
  font-size: 30px;
  width: 50px;
}

.fa-linkedin {
  background-color: rgb(240;, 240, 241);
  
}
.fa-instagram {
  background-color: rgb(249, 250, 251);

}
.fa-gmail{
  background-color:rgb(235, 240, 243);
}
.fa-github{
  background-color: rgb(235, 242, 244);
}
.fa:hover {
    opacity: 0.5;
}